.project-section {
  background-color: var(--secondary);
  text-align: left;
  max-width: 40%;
}
.projects-heading {
  padding: 0.5em 0;
  padding-left: 1em;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}
.projects-heading svg {
  font-size: 1em;
  margin-right: 0.5em;
}

.project-list {
  list-style-type: none;
}
.project-item {
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1em;
  color:var(--accent1-text);
}
.project-item:hover {
  background-color: var(--accent2);
  cursor: pointer;
}
.active {
  background-color: var(--accent2);
}

.delete-icon {
  color: var(--danger);
  padding: 0.5em;
  display: block;
}
.delete-icon:hover {
  cursor: pointer;
}
.delete-icon:hover svg {
  transform: scale(1.2);
}

@media only screen and (max-width: 760px) {
 .project-section{
   font-size: 0.8rem;
 }
}
