.project-section {
  background-color: var(--secondary);
  text-align: left;
  /* max-width: 30%; */
}
.projects-heading {
  padding: 0.5rem 0;
  padding-left: 1rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}
.projects-heading svg {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.project-list {
  list-style-type: none;
}
.project-item {
  /* padding: 0.5rem; */
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  /* border-bottom: 1px solid gray; */
}
.project-item:hover {
  background-color: var(--accent1);
  cursor: pointer;
}
.active {
  background-color: var(--accent1);
}

.delete-icon {
  color: var(--danger);
  padding: 0.5rem;
  display: block;
}
.delete-icon:hover {
  cursor: pointer;
  background-color: var(--secondary);
}
.delete-icon:hover svg {
  transform: scale(1.2);
}

@media only screen and (max-width: 760px) {
  .project-heading {
    border-right: none;
  }
  .project-tab {
    margin: 0;
  }
}
