.task-tab {
  background-color: rgb(58, 25, 19);
  margin: 0.5rem;
  flex: 1;
  border: 2px solid gray;
}
.task-heading {
  padding: 1rem;
  border: 1px solid gray;
  background-color: hsl(9, 51%, 5%);
}
.task-list {
  list-style-type: none;
  text-align: left;
}
.task-list > li {
  padding: 1rem;
  border: 1px solid black;
  background-color: hsl(39, 51%, 20%);
}
.task-description {
  display: inline-block;
  margin: 0 2rem;
  color: gray;
}
.task-form {
  width: 40%;
  min-width: 25rem;
  margin: 0 auto;
}
.task-form > label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  margin: 0.5rem 0;
}
.task-form button {
  display: inline-block;
  margin: 0.5rem;
}
@media only screen and (max-width: 760px) {
  .task-tab {
    margin: 0;
  }

  .task-heading {
    border-left: none;
  }

  .task-form {
    min-width: 0;
    width: 90%;
    font-size: 0.9rem;
  }
  .task-form input {
    width: 50%;
  }
}
