* {
  margin: 0;
  padding: 0;
}
.App {
  background-color: hsl(224, 65%, 2%);
  color: white;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.button {
  padding: 0.5rem;
  border: 1px solid gray;
  background-color: rgb(28, 28, 63);
  color: rgb(235, 231, 176);
  margin: 1rem 0;
}
.button:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: rgb(15, 15, 32);
}
.main {
  display: flex;
  flex: 1;
}
.footer {
  background-color: rgb(12, 12, 12);
  border: 1px solid gray;
  padding: 0.5rem;
}
.delete-icon {
  background-color: rgb(73, 0, 0);
  padding: 0.1rem;
  float: right;
}
.delete-icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}
