* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  --background: hsl(0, 0%, 90%);
  --primary: hsl(120, 40%, 15%);
  --secondary: hsl(180, 80%, 5%);
  --accent1: hsl(180, 80%, 15%);
  --accent2: hsl(120, 40%, 5%);
  --primary-text: hsl(0, 0%, 90%);
  --secondary-text: hsl(0, 0%, 10%);
  --accent1-text: hsl(0, 0%, 80%);
  --danger: hsl(0, 75%, 50%);
}
.App {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--background);
  color: var(--primary-text);
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  display: flex;
  flex: 1;
}
.button {
  padding: 0.5rem;
  background-color: var(--secondary);
  color: var(--primary-text);
}
.button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.footer {
  background-color: rgb(12, 12, 12);
  border: 1px solid gray;
  padding: 0.5rem;
}
