/*global*/
.hidden {
  display: none;
}

.absolute {
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

  background-color: lavender;
  padding: 2rem;
  border: 5px solid black;
}
section{
  color:black;
}

/*main page*/
:root {
  text-align: center;
  color: white;
}
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #1b1310;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.heading {
  padding: 1rem;
  background-color: hsl(12, 29%, 2%);
  text-shadow: 2px 2px 0.1rem rgb(128, 115, 0);
}
.main {
  display: flex;
  flex: 1;
}
.list {
  background-color: #24120b;
  border:3px solid black;
  padding: 0.5rem;
  margin:0.2rem;
}
.project-heading {
  padding: 0.5rem 1rem;
  font-size: 2rem;
  text-shadow:3px 3px 0.1rem black;
}
.project-default {
  padding:1rem;
  border: 2px solid white;
  background-color: rgb(20, 8, 20);
}
.project-default:hover{
  background-color: rgb(75, 30, 75);;
}
.project-cell {
  padding: 1rem;
  border: 2px solid rgb(37, 37, 37);
  background-color: hsl(17, 53%, 3%);
}

.project-delete {
  background-color: hsl(0, 100%, 20%);
  color: white;
  padding: 0.1rem;
  border: 1px solid black;
}
.project-delete:hover {
  transform: scale(1.05);
}

.add-project-button {
  background-color: hsl(254, 50%, 30%);
  padding:1rem;
  border: 1px solid black;
}
.add-project-button:hover {
  transform: scale(1.05);
  background-color:hsl(254, 50%, 50%);
}
.task-area {
  flex-grow: 1;
  margin: 0.2rem;
  border: 2px solid black;
}
.task-cell {
  padding: 1rem;
  margin: 0 auto;
  background-color: hsl(117, 30%, 15%);
  border-top: 1px solid black;
}
.task-delete {
  background-color: hsl(0, 100%, 20%);
  color: white;
  padding: 0.1rem;
  margin: 0 auto;
  width: 12rem;
  border: 1px solid black;
}
.task-delete:hover {
  transform: scale(1.1);
}
.add-task-button {
  background-color: hsl(254, 50%, 30%);
  padding: 1rem;
  border: 1px solid black;
  border-left: none;
}
.add-task-button:hover {
  background-color:hsl(254, 50%, 50%);
}

.footer {
  background-color: #3f3f3f;
  padding: 1rem;
  border: 2px solid black;
}

/*add project */
.add-project > header > h2 {
  padding: 1rem;
}
.button-field {
  padding: 1rem;
}

.button {
  padding: 0.5rem;
  margin: 1rem;
}

/*add task*/

.add-task-input-fields {
  max-width: 22rem;
}
.add-task-input-fields label {
  display: flex;
  justify-content: right;
  padding: 1rem;
}
.add-task-input-fields input {
  margin: 0 0 0 0.5rem;
}
#task-para {
  padding: 1rem;
  width: 90%;
  max-width: 10rem;
}
